ExpenseRegistrationApp/ExpenseRegistrationApp_Solution/Workflows/ConsultarImportesMaximos-A2017931-FD6F-ED11-81AC-000D3A888295.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c67c0651-fdce-4bcb-b80b-8a71a45e3965"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "HTTP": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6a81e0fc-6869-4fb3-9504-12c489db322f"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://prod-15.brazilsouth.logic.azure.com:443/workflows/2daa2abe8efb4835907500c2cd79eced/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1uvyCg9uT4E4r7MwnueFLmhmSnb47J7J9P8E6zxu8G4"
          }
        },
        "An치lisis_del_archivo_JSON": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b070137e-d2ac-47fa-9a54-2601832e43f3"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP')",
            "schema": {
              "type": "object",
              "properties": {
                "maximoGlobal": {
                  "type": "integer"
                },
                "maximoQueNecesitaAprobacion": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "Responder_a_una_instancia_de_PowerApps_o_a_un_flujo": {
          "runAfter": {
            "An치lisis_del_archivo_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d85a8792-ceb8-453b-b7c6-3f861acf9c7b"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "resultado": "{\n\"maximoGlobal\":@{body('An치lisis_del_archivo_JSON')?['maximoGlobal']},\n\"maximoValidacion\": @{body('An치lisis_del_archivo_JSON')?['maximoQueNecesitaAprobacion']}\n}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "resultado": {
                  "title": "resultado",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}